// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
 }

.main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 20px 20px;
  padding: 0 30px 30px;
}

.post-box {
  width: 300px;
  height: 340px;
  padding: 8px;
  margin: 30px 25px 0;
  border: solid 2px #d2b48c;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #faebd7;
}

.post-box:nth-child(3n) {
  margin-right: 0;
}

.post-top {
  margin-top: 3px;
  font-weight: bold;
  font-size: 15px;
  color: #4e454a;
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-info {
  margin-left: 0;
}

.post-profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.member-name {
  font-size: 14px;
}

.member-name:hover {
  color: #6c3524;
}

.post-image {
  width: 280px;
  height: 210px;
  border-radius: 5px;
}

.post-date {
  font-size: 13px;
  color: #736d71;
  text-align: right;
}

.paginate-box {
  margin: 20px auto 0;
  justify-content: center;
  font-size: 20px;
}

.show-post-content {
  width: 70%;
  display: flex;
  margin: 30px auto 30px;
  border: solid 2px #d2b48c;
  border-radius: 3px;
}

.show-post-box {
  width: 100%;
  padding: 20px;
}

.show-post-image {
  width: 100%;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.show-post {
  margin-top: 10px;
}

.show-post-title {
  padding: 10px 0 8px 20px;
  font-weight: bold;
}

.post-form {
  width: 80%;
  padding: 3px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.post-btn {
  width: 15%;
  height: 35px;
  margin-bottom: 5px;
  border-radius: 3px;
  border-color: #f6e5cc;
  background-color: #f6e5cc;
}

.post-btn:hover {
  background-color: #ffe9a9;
}

.comments {
  padding-top: 5px;
}

.post-text {
  padding-left: 20px;
  text-align: left;
  font-size: 14px;
  color: #736d71;
}

.post-border {
  width: 100%;
  border: solid 1px #dee2e6;
}

.post-destroy-btn {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  border: solid 1px #595960;
  font-size: 12px;
  background-color: #ef857d;
  color: #000;
}

.post-destroy-btn:hover {
  color: #fff;
  background-color: #ea5550;
}

.label {
  background-color: #8f6552;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 85%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.post-top .label {
  font-size: 75%;
}

@media screen and (max-width: 600px) {
  .post-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 0;
  }

  .post-box {
    width: 250px;
    height: 300px;
    padding: 8px;
    margin: 10px 10px 0 0;
    border: solid 2px #d2b48c;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #faebd7;
  }

  .post-box:nth-child(3n) {
    margin-right: 10px;
  }

  .post-box:nth-child(2n) {
    margin-right: 0px;
  }

  .post-top {
    font-weight: bold;
    font-size: 15px;
    color: #4e454a;
  }

  .post-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .member-info {
    margin-left: 0;
  }

  .post-profile-image {
    width: 22px;
    height: 20px;
    border-radius: 50%;
  }

  .member-name {
    font-size: 12px;
  }

  .member-name:hover {
    color: #6c3524;
  }

  .post-image-box {
    border-radius: 3px;
  }

  .post-image {
    width: 100%;
    height: 180px;
  }

  .post-date {
    font-size: 13px;
    color: #736d71;
    text-align: right;
  }

  .paginate-box {
    font-size: 16px;
  }

  .show-post-content {
    width: 92%;
    display: block;
  }

  .show-post-title {
    padding: 10px 0 5px 20px;
    font-weight: bold;
  }

  .post-form {
    padding: 2px;
  }

  .post-btn {
    width: 15%;
    height: 35px;
    border-radius: 3px;
    border-color: #f6e5cc;
    background-color: #f6e5cc;
  }

  .post-btn:hover {
    background-color: #ffe9a9;
  }

  .comments {
    padding-top: 5px;
  }

  .post-text {
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
    color: #736d71;
  }

  .post-border {
    width: 100%;
    border: solid 1px #dee2e6;
  }

  .post-destroy-btn {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 3px;
    border: solid 1px #595960;
    font-size: 12px;
    background-color: #ef857d;
    color: #000;
  }

  .post-destroy-btn:hover {
    color: #fff;
    background-color: #ea5550;
  }
}

  @media screen and (max-width: 470px) {
  .post-box {
    width: 340px;
    height: 360px;
    margin: 10px auto 0;
  }

  .post-image {
    width: 100%;
    height: 240px;
  }

  .post-box:nth-child(3n) {
    margin: 10px auto 0;
  }

  .post-box:nth-child(2n) {
    margin: 10px auto 0;
  }

  .post-top {
    font-size: 17px;
  }

  .post-bottom {
    height: 40px;
  }

  .post-profile-image {
    width: 40px;
    height: 40px;
  }

  .member-name {
    font-size: 15px;
  }

  .fa-apple-alt:before, .fa-comment:before {
    font-size: 15px;
  }
}