<div class="container top-container">
  <div class="row">
    <div class="col-md-4 sm-12" style="padding: 0;">
      <div class="top-image1"></div>
    </div>
    
    <div class="col-md-4 sm-12" style="padding: 0;">
      <div class="top-image2"></div>
    </div>
    
    <div class="col-md-4 sm-12" style="padding: 0;">
      <div class="top-image3"></div>
    </div>
    
    <p class="site-name">cafelink
      <p class="concept-text">
        素敵なカフェに巡り合えるように<br>
        カフェ好きな人同士の素敵な巡り合いがあるように
      </p>
    </p>
  </div>
</div>



