<h1>Cafelink トップページ</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<!-- 管理人のTopページ -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 top-box">
      <h2 class="top-title">管理者用</h2>
      <div>
        <%= link_to new_admin_shop_path do %>
          <p class="top-path">カフェ新規登録</p>
        <% end %>
      </div>
      <div>
        <%= link_to dmin_shops_path do %>
          <p class="top-path">投稿一覧</p>
        <% end %>
      </div>
      <div>
        <%= link_to admin_genres_path do %>
          <p class="top-path">ジャンル登録/一覧</p>
        <% end %>
      </div>
    </div>
  </div>
 </div>